<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
    <title>LLM Discussion Benchmark</title>
</head>
<body>
    <section class="paper-background">
        <div class="paper">
            {{ paper }}
        </div>
    </section>
    <section class="paper-background side-by-side">
        <div class="paper">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, dolorem! Magni molestias quo maiores dolor officia voluptatem illo quibusdam labore voluptate? Blanditiis perspiciatis vero adipisci deleniti libero aut officia perferendis.
        </div>
        <div class="paper">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum illum et possimus? Beatae facere doloremque sequi ipsam officia molestiae repudiandae dolores minima maiores? Delectus, enim aliquid excepturi possimus itaque aliquam.
        </div>
    </section>
</body>
</html>