<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
    <title>LLM Discussion Benchmark</title>
</head>
<body>
    <section class="paper-background">
        <div class="paper">
            {{ paper }}
        </div>
    </section>
    <section class="paper-background side-by-side">
        <div class="paper">
            {{ discussion }}
        </div>
        <div class="paper">
            {{ llm_discussion }}
        </div>
    </section>
</body>
</html>