<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
    <title>LLM Discussion Benchmark</title>
</head>

<body>
    <main>
        <section class="paper-links">
            {% for paper in papers %}
            <a class="row" href="/runs/{{ run_id }}/corpus/{{ paper.corpus_id }}">
                <div>{{ paper.title }}</div>
                <div>{{ paper.year }}</div>
            </a>
            {% endfor %}
        </section>
    </main>
</body>

</html>